<div class="text-center">
<h1>Formiulario de confirmacion</h1>
<div class="container">
<div  class="alert alert-info" role="alert">
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi ea perferendis nihil est praesentium, et eum dolore corrupti quo architecto. Consequatur nihil excepturi eum itaque minima at dicta, amet sit.
</div>
</div>
</div>